@charset "utf-8";

header {
    width: 100%;
    height: 180px;
    background: #fff;
    margin-bottom: 20px
}

header .top-bar {
    width: 1200px;
    height: 130px;
    background: #fff;
    margin: 0 auto;
}

header .top-bar .head-lang {
    float: left;
    margin-top: 62px;
    vertical-align: middle;
}
header .top-bar .head-lang .region-selection {
    width: 40px;
    padding-left: 25px;
    cursor: pointer;
    position: relative;
    float: left;
    height: 28px;
    padding-right: 20px;
    padding-bottom: 3px;
    line-height: 28px;
}

header .top-bar .head-lang .region-selection h4 {
    font-family: 'INTERVOGUE-REG', 'Microsoft YaHei';
    font-weight: normal;
    font-size: 12px;
    line-height: 28px;
    margin: 0;
    padding-right: 4px;
    text-align: center;
}

header .top-bar .head-lang .region-selection i {
    position: absolute;
    top: 0;
    right: 9px;
}

header .top-bar .head-lang .region-selection:hover {
    color: yellow;
}

header .top-bar .head-lang .region-selection:hover ul {
    display: block !important;
}

header .top-bar .head-lang .region-selection ul {
    border: 1px solid #ccc;
    text-align: center;
    font-size: 12px;
    color: black
}

header .top-bar .head-lang .region-selection ul li:hover {
    background: #ccc
}

header .separate-line {
    float: left;
    width: 1px;
    height: 28px;
    background-color: #ccc;
}

header .currency-selection {
    width: 49px;
    padding-left: 17px;
    position: relative;
    float: left;
    height: 28px;
    padding-right: 20px;
    padding-bottom: 3px;
    line-height: 28px;
    font-size: 12px;
}

header .head-logo {
    width: 189px;
    height: 75px;
    float: left;
    /* margin: 0 auto; */
    margin-left: 333px;
    padding-top: 29px;
}

header .head-site {
    float: right;
    /* background: red; */
    width: 154px;
    margin-top: 65px;
    line-height: 28px;
}
em{
    font-style: normal; 
}
i {
    font-style: normal;
}
header .head-site a {
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 12px;
    color: #000;
}
.ss{
    color: yellow !important;
}
header .head-site a:hover{
    color: lightcoral;
}
header .head-site .icon-3:hover{
    color: lightcoral;
}
header .head-site .icon-3 {
    margin-left: 10px;
    font-size: 26px;
}
/* 登录 */
.logoshow{
    float: right;
    /* background: red; */
    width: 216px;
    margin-top: 65px;
    line-height: 28px;
    display: none;
    
}
header .logoshow .icon-3:hover{
    color: lightcoral;
}
header .logoshow p{
    padding-right: 5px;
    float: left;
    font-size: 12px;
}
header .logoshow a:hover{
    color: lightcoral;
}
header .logoshow a {
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 12px;
    color: #000;
}
header .logoshow .icon-3 {
    font-size: 26px;
}

header .nav-bar {
    width: 100%;
    height: 50px;
    background: black
}

header .nav-bar .ncontainer {
    width: 1200px;
    height: 100%;
    /* background: blue; */
    margin: 0 auto;
}
header .nav-bar .nav-menu {
    width: 900px;
    height: 100%;
    /* background: lightcoral; */
    float: left;
}

header .nav-bar .nav-menu .nav-item {
    float: left;
    padding-right: 50px;
    font-size: 14px;
    line-height: 50px;
    color: yellow
}

header .nav-bar .nav-menu .nav-item:hover .nav-unfold {
    display: block !important;
    color: #666666;
}

header .nav-bar .nav-menu .nav-item:hover {
    color: #FFF
}

header .nav-bar .nav-menu .nav-item:last-child {
    padding-right: 0
}

header .nav-bar .nav-menu .nav-item .nav-unfold {
    position: absolute;
    left: 0;
    /* top: 100%; */
    width: 100%;
    font-size: 14px;
    background-color: #FFF;
    display: none;
    z-index: 15;
}

header .nav-bar .nav-menu .nav-item li {
    float: left;
    font-size: 12px;
}

header .nav-bar .nav-menu .nav-item li:first-child {
    width: 400px;
}

header .nav-bar .nav-menu .nav-item li:last-child {
    width: 600px;
}

.nav-item li h4 {
    font-size: 16px;
    font-weight: 700;
    color: black
}

.nav-item li a {
    width: 200px;
    height: 40px;
    float: left;
    font-size: 13px;
    color: #666666;
}

.nav-item a:link{
    color: yellow
}
.nav-item li a:hover {
    text-decoration: underline;
    color: #111
}

header .nav-bar .search-inner {
    float: right;
    width: 25px;
    padding-top: 15px;
    color: yellow;
    position: relative;
    padding-right: 30px;
}
header .nav-bar .ncontainer .nav-item .shouye{
    color: yellow;
}
header .nav-bar .search-inner .search-input {
    width: 100%;
    height: 100%;
    border: none;
    text-align: left;
    margin-right: 0px;
    color: yellow;
    background: black;
    outline: none;
}
.nav-bar .search-inner .icon-search {
    position: absolute;
    right: 0px;
    top: 18px;
    width: 20px;
    height: 19px;
    line-height: 19px;
    transition: color linear 0.3s;
    color: yellow;
    cursor: pointer;
}

/* 固定定位 */
.fixed-qrcode {
    position: fixed;
    top: 55%;
    left: 0;
    width: 120px;
    height: 164px;
    z-index: 100;
}

.fixed-qrcode img {
    width: 120px;
    height: 164px;
}

/* 脚的css */
.nfooter {
    height: 505px;
    padding-top: 40px;
    margin-top: 70px;
    background-color: #ffb81c;
    font-size: 16px;
}

.nfooter {
    margin-top: 0 !important;
}

.ncontainer {
    width: 1200px;
    margin: 0 auto;
}

.nfooter .footer-links>li {
    float: left;
}

.nfooter .footer-links .service-information {
    width: 325px;
    height: 182px;
}

.nfooter .footer-links .service-information li:hover {
    text-decoration: underline
}

.nfooter .service-information .links-title,
.nfooter .our-app .links-title {
    margin-bottom: 26px;
}

body.zh .en {
    display: none !important;
}

.nfooter .links-title {
    font-size: 16px;
}

.nfooter .service-information .links-item.zh {
    float: left;
    width: 115px;
}

.nfooter .links-item.zh {
    height: 33px;
}

.zh .nfooter span,
.zh .nfooter a {
    font-size: 14px;
}

.nfooter a {
    color: #000;
    font-size: 16px;
}

.nfooter .footer-links>li {
    float: left;
}

.nfooter .public-media {
    text-align: center;
}

body.zh {
    display: none !important;
}

.nfooter .links-title {
    font-size: 16px;
}

.nfooter .footer-logo {
    position: relative;
    width: 550px;
    height: 240px;
    background: url(http://mpic.secooimg.com/images/2018/11/07/footer-logo.png) no-repeat 100%;
}

.nfooter .footer-logo .icon-apple {
    left: 91px;
}

.nfooter .footer-logo .weibo {
    position: absolute;
    left: 15%;
}

.nfooter .footer-logo .weibo .icon-apple,
.nfooter .footer-logo .wechat .icon-wechat {
    float: left;
    /* width: 25px; */
    /* height: 20px; */
    font-size: 24px;
    margin-right: 5px;
    margin-top: -5px;
    /* position: relative; */
    /* background: url(//mpic.secooimg.com/images/2018/11/06/spirits.png) no-repeat -70px -2px; */
}

.nfooter .footer-logo .icon-apple span {
    float: left;
}

.zh .nfooter span,
.zh .nfooter a {
    font-size: 14px;
}

.icon-apple {
    /* position: absolute;
    left: -20px; */
    font-size: 30px;
}

.nfooter .qr-code {
    position: absolute;
    left: -133px;
    top: -50px;
    width: 126px;
    height: 120px;
    display: none;
}

.nfooter .footer-logo .wechat {
    left: 394px;
}

.nfooter .footer-logo .weibo,
.nfooter .footer-logo .wechat {
    position: absolute;
    top: 107px;
    height: 20px;
    cursor: pointer;
}

.nfooter .footer-logo span:hover {
    text-decoration: underline
}

.nfooter .our-app {
    margin-left: 207px;
}

.nfooter .our-app a:hover {
    text-decoration: underline
}

.nfooter .service-information .links-title,
.nfooter .our-app .links-title {
    margin-bottom: 26px;
}

.nfooter .links-item.zh {
    height: 33px;
}

.nfooter .qr-code-p {
    position: relative;
}

.nfooter .footer-info {
    margin-top: 40px;
    font-size: 14px;
}

.nfooter .footer-info p {
    margin-bottom: 20px;
}

.nfooter .footer-info p:first-child a:hover {
    text-decoration: underline
}

.nfooter .footer-info span {
    margin-right: 10px;
    font-size: 14px
}

element.style {
    overflow: hidden;
}

.nfooter .footer-info .footer-info-imgs a {
    float: left;
    width: 108px;
    height: 40px;
    margin-right: 30px;
    font-size: 14px;
}

.nfooter .footer-info a .pp {
    width: 15px;
    height: 14px;
    display: inline-block
}

.aa img {
    width: 20px;
    height: 20px;
}

.cur {
    display: block !important
}
.nav-bar .ncontainer .clickinput{
    width: 195px;
    transition: all 1s;
    border-bottom: 1px solid #ccc;
}
.noshow{
    display: none !important;
}