@charset "utf-8";

.btn-class {
    margin: 0;
    padding: 0;
    width: 250px;
    height: 23px;
    position: sticky;
    top: 0;
    z-index: 100;

}

.btn-class span {
    margin: 0;
    padding: 0;
    font-size: 16px;
    padding: 0 5px;
    background: #ccc;
    border: 1px solid #ccc
}

.btn-class .tab {
    border: 1px solid yellow;
    background: lightcoral;
}

.commodity-list {
    background: #fff;
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: 30px 20px 2px;
}

.commodity-list dl {
    display: inline-block;
    width: 240px;
    height: 360px;
    margin: 0 25px 56px 25px;
    vertical-align: top;
    position: relative;
    z-index: 1;
}
dd{
    margin-inline-start: 0;
    margin: 0 20px;
}
.commodity-list dl .show_tips {
    width: 240px;
    height: 346px;
    border: 2px solid transparent;
}

.commodity-list dl dt {
    width: 240px;
    height: 240px;
    background: url(http://pic16.secooimg.com/imagesPic/searchlist/snew_loading.jpg) no-repeat center 140px;
}

img {
    vertical-align: middle;
    border: 0;
}

.commodity-list dl .dl_tips {
    height: 18px;
    width: 240px;
    font-size: 14px;
    margin-top: 10px;
}

.commodity-list dl .dl_tips .s1 {
    background: #000;
}

.commodity-list dl .show_tips .dl_tips span {
    padding: 0 4px;
    height: 20px;
    line-height: 18px;
    margin: 0 3px 0 0;
    color: #fff;
}

.commodity-list dl .dl_tips .s2 {
    background: #e93b39;
}

.commodity-list dl .dl_name {
    display: block;
    height: 28px;
    padding: 8px 0 3px;
    line-height: 16px;
    overflow: hidden;
    border-top: 1px solid #ebebeb;
    margin-top: 10px;
    font-size: 12px; 
}
.commodity-list dl .dl_name:hover{
    text-decoration: underline
}
.commodity-list dl .dl_name a {
    line-height: 16px;
    color: #323232;
    text-decoration: none;
}

.commodity-list dl dd.dl_name a:visited {
    color: #666 !important;
}

.commodity-list dl .dl_price {
    padding-top: 2px;
}

.commodity-list dl .dl_price span {
    font: bold 12px/16px "Tahoma";
}

.commodity-list dl .dl_price span i {
    font: bold 12px/16px "microsoft yahei";
}

.commodity-list dl .loveHeart {
    position: absolute;
    width: 120px;
    text-indent: 14px;
    height: 20px;
    /* background: url(http://pic16.secooimg.com/imagesPic/searchlist/repeat-d1.png) no-repeat 0 6px; */
    right: 0px;
    bottom: 20px;
    display: none;
    cursor: pointer;
    color: #999;
    line-height: 20px;
}
.commodity-list dl .loveHeart:hover{
    color: red;
}

.commodity-list dl .loveHeart i {
    font-style: normal;
    overflow: hidden;
    height: 20px;
    font-size: 12px
}

.page {
    /* position: fixed; */
    /* bottom: 0px; */
    width: 1130px;
    margin: 0 auto;
    /* margin-top: 100px; */
    /* background: #195; */
    text-align: center;
    /* font-size: 13px; */
    font-family: Verdana;
    padding: 10px 16px
}

.page a {
    display: inline-block;
    height: 20px;
    padding: 0 7px;
    border: #CCC solid 1px;
    /* font: 12px/20px Verdana; */
    text-decoration: none;
    font-size: 13px;
    margin-left: 5px;
    background: #FFF
}

.page a:hover {
    background: #09F;
    color: #FFF;
    /* border-color: #09F */
}

.page .active {
    background: #CCC
}

.page a:active {
    opacity: .8
}
/* 遮罩 */
.love_tips {
    width: 310px;
    height: 182px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin: -155px 0 0 -91px;
    background: #fff;
    z-index: 63;
    box-shadow: 0 0 3px #ccc;
    display: none;
}
.love_tips_title {
    width: 304px;
    height: 39px;
    line-height: 39px;
    margin: 3px auto;
    background: #463a7e;
    color: #fff;
    font: normal 16px/39px "microsoft yahei";
    text-indent: 20px;
}
.love_tips_title a {
    position: absolute;
    right: 10px;
    top: 13px;
    background: url(http://pic16.secooimg.com/home/detail/detail_icon3.png) no-repeat right -91px;
    width: 20px;
    height: 20px;
}
.love_tips_text {
    width: 100%;
    text-align: center;
    margin-top: 45px;
    color: #463a7e;
    font: normal 24px/24px "microsoft yahei";
}
.love_tips_text a {
    display: block;
    text-align: center;
    font-size: 12px
}

.cur{
    display: block !important;
}
.bordertab{
    border: 2px solid #ccc !important;
}
.cart-center{
    width: 35px;
    height: 40px;
    position: fixed;
    right: 0;
    top: 50%;
    margin-top: -60px;
    padding-top: 5px;
}
#gome-bar-border-tab li {
    background: url(gmpro/1.0.0/public/1.0.0/css/i/uiline.png) no-repeat center bottom;
}
.gome-bar-btn-cart .icon-3{
    padding-top: 10px;
    font-size: 35px;
    color: #09F;
}
.gome-bar-btn-cart span{
    margin-bottom: 5px;
    color: red;
    position: absolute;
    font-size: 12px;
    top: 0;
    left: 10px;
}